<div class="page-flexbox-wrapper">
<header>
<nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#" class="brand-logo">Livraria Virtual</a>      
      <ul id="nav-mobile" class="right teal lighten-2">
<!--       	<li><a routerLink="/">Home</a></li>
      	<li><a routerLink="/about" routerLinkActive="active">About</a></li> -->
      </ul>
    </div>
  </nav>
</header>

<main class="main-container">
    <router-outlet></router-outlet>
</main>

 <footer class="page-footer teal lighten-2" >
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            </div>
          </div>
        </footer>
        </div>
