<div>

<h2 class="header">Livros Cadastrados</h2>

<table class="highlight">
        <thead>
          <tr>
              <th data-field="isbn">ISBN</th>
              <th data-field="nome">Nome</th>
              <th data-field="ano">Ano</th>
              <th data-field="autor">Autor(es)</th>
              <th data-field="editora">Editora</th>
              <th data-field="acao"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let livro of livros" >
            <td>{{livro.isbn}}</td>
            <td>{{livro.nome}}</td>
            <td>{{livro.ano}}</td>
             <td>{{livro.autores}}</td>
            <td>{{livro.editora}}</td>
            <td>
            	<a href="#modal1" (click)="selectLivro(livro)" class="waves-effect waves-light  modal-trigger"><i class="material-icons">edit</i></a>
            	<a href="javascript:void(0)" (click)="deleteLivro(livro)" class="waves-effect waves-light"><i class="material-icons">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
            

<div class="fixed-action-btn" style="bottom: 80px; right: 30px;">
    <a class="btn-floating btn-large waves-effect waves-light red modal-trigger btn" #btnAdd  href="#modal1">
    	<i class="material-icons">add</i>
    </a>
</div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <about [selectedLivro]="selectedLivro"></about>
    </div>
    <div class="modal-footer">
    	<a href="#!" (click)="resetData()" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
      <a href="#!" (click)="saveLivro()" class="modal-action modal-close waves-effect waves-green btn-flat ">Salvar</a>
    </div>
  </div>
</div>
